<%= form_tag(posts_path, method: "post") do %>
	<h1>Create Post Here</h1>
	<div class="post-field">
	<%= label_tag("Title: ") %>
	<%= text_field_tag("title") %>
	</div>

	<div class="post-field">
		<%= label_tag("Content: ") %>
		<%= text_area_tag("content") %>
	</div>

	<%= button_tag("Create!") %>
<% end %>